<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product </title>
</head>
<body>
    <h1>Product </h1>
    <form action="/fetch_and_store_product" method="post">
         Ajoutez un champ d'entrée pour le code-barres
         <label for="barcode">Barcode</label>
        <input type="text" id="barcode" name="barcode" required>
        <button type="submit">ok</button>
    </form>
 </body> 
</html> 