<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
</head>
<body>
    <div class="container">
        <h2>Connexion</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        
        
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.csrf_token }}
            <label for="username">Nom d'utilisateur ou Email:</label>
            {{ form.username }}
            
            <label for="password">Mot de passe:</label>
            {{ form.password }}
            
            {{ form.submit }}
        </form>
    
        <p class="register-paragraph">
            Pas encore inscrit? <a class="register-link" href="{{ url_for('auth.register') }}">Inscrivez-vous ici</a>.
        </p>
        
    </div>
</body>
</html>
